<footer>
    <br />
	<div class="footerIcons">
        <a href="https://t.me/PkmnYellowToken">
            <span class="fa-stack fa-1x">
                <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
                <i class="socialIconTop fab fa-telegram fa-stack-1x"></i>
            </span>
        </a>
        <a href="https://twitter.com/PkmnYellowToken">
            <span class="fa-stack fa-1x">
                <i class="socialIconBack fas fa-circle fa-stack-2x"></i>
                <i class="socialIconTop fab fa-twitter fa-stack-1x"></i>
            </span>
        </a>
	</div>
</footer>